body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f2f2f2;
}

.top-bar {
    background-color: #4A90E2;
    color: white;
    display: flex;
    padding: 10px 20px;
    margin-top: 0;
}

.top-bar span {
    font-size: 20px;
    margin-top: 7px;
    margin-left: 33%;
    text-decoration: underline;
}

.donate-button {
    background-color: #2DD95F;
    border: none;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 1%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    background-color: #ffffff;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: lighter;
}

.sub-menu {
    display: flex;
    justify-content: flex-end;
    background-color: #ffffff;
    padding: 15px;
    margin-right: 1%;
}

.sub-menu ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.sub-menu ul li {
    margin: 0 15px;
    margin-top: 7px;
}

.sub-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sign-up-button {
    background-color: #2DD95F;
    border: none;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.about h1 {
    font-size: 80px;
    text-align: center;
}
